<a href="https://colab.research.google.com/github/Salbapoonam/Data-Science-Learning/blob/main/Day_11_List_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Add items in the list

#### 1. append

In [ ]:
list1 = [1,2,3]
list1.append(100)   # It will update list1
list1

[1, 2, 3, 100]

In [ ]:
list1 = [1,2,3]
list1.append('Data')   # It will update list1
list1

[1, 2, 3, 'Data']

In [ ]:
city_names = ["Pune"]
city_names.append('Mumbai')
city_names.append('Pune')
print('City names are',city_names)

city_names = []
city_names.append('Mumbai')
city_names.append('Pune')
city_names.append('Chennai')
print('City names are',city_names)

City names are ['Pune', 'Mumbai', 'Pune']
City names are ['Mumbai', 'Pune', 'Chennai']

#### 2. extend >>> To join two list

In [ ]:
list1 = ['Mumbai', 'Pune', 'Chennai']
list2 = [1,2,3,4]
list1.append(list2)
print(list1, len(list1))

['Mumbai', 'Pune', 'Chennai', [1, 2, 3, 4]] 4

In [ ]:
list1 = ['Mumbai', 'Pune', 'Chennai']
list2 = [1,2,3,4]
list1.extend(list2)
print(list1, len(list1))

['Mumbai', 'Pune', 'Chennai', 1, 2, 3, 4] 7

In [ ]:
list1 = ['Mumbai', 'Pune', 'Chennai']
list2 = ['Hydrabad', "Ahemdabad", "Benglore"]
list1.extend(list2)
print("List1 is : ",list1)
print("List2 is : ",list2)

List1 is :  ['Mumbai', 'Pune', 'Chennai', 'Hydrabad', 'Ahemdabad', 'Benglore']
List2 is :  ['Hydrabad', 'Ahemdabad', 'Benglore']

In [ ]:
list1 = ['Mumbai', 'Pune', 'Chennai']
list2 = ['Hydrabad', "Ahemdabad", "Benglore"]
list2.extend(list1)
print("List1 is : ",list1)
print("List2 is : ",list2)

List1 is :  ['Mumbai', 'Pune', 'Chennai']
List2 is :  ['Hydrabad', 'Ahemdabad', 'Benglore', 'Mumbai', 'Pune', 'Chennai']

#### Convert string to list using list()

In [ ]:
string1 = 'Python'
string2 = "Data Science"
print(list(string1))
print(list(string2))

print(list(string1).extend(list(string2)))

['P', 'y', 't', 'h', 'o', 'n']
['D', 'a', 't', 'a', ' ', 'S', 'c', 'i', 'e', 'n', 'c', 'e']
None

In [ ]:
string1 = 'Python'
string2 = "Data Science"
list1 = list(string1)
list2 = list(string2)
list1
list2
print(list1.extend(list2))
print(list1)
print(list2)

None
['P', 'y', 't', 'h', 'o', 'n', 'D', 'a', 't', 'a', ' ', 'S', 'c', 'i', 'e', 'n', 'c', 'e']
['D', 'a', 't', 'a', ' ', 'S', 'c', 'i', 'e', 'n', 'c', 'e']

In [ ]:
l1 = ['a','c']
l2 = ['p','l', 'j']
l1.extend(l2)
print(l1)

['a', 'c', 'p', 'l', 'j']

In [ ]:
list1 = ['Mumbai', 'Pune', 'Chennai']
list2 = ['Hydrabad', "Ahemdabad", "Benglore"]
list1.extend(list2)
print("List1 is : ",list1)
print("List2 is : ",list2)

List1 is :  ['Mumbai', 'Pune', 'Chennai', 'Hydrabad', 'Ahemdabad', 'Benglore']
List2 is :  ['Hydrabad', 'Ahemdabad', 'Benglore']

In [ ]:
l1 = [1,2,3,4,5]
for i in l1:
    print(i)

1
2
3
4
5

In [ ]:
for i in range(2,10):
    print(i)

2
3
4
5
6
7
8
9

In [ ]:
l1 = [10,20,30,40,50]
for i in range(0,5):
    print(i, l1[i])  #l1[0]  >>> 10

0 10
1 20
2 30
3 40
4 50

In [ ]:
l1[0]

10

#### Update items

In [ ]:
list1 = [1,2,3,4,5,6,7]
list1[3]

4

In [ ]:
list1 = [1,2,3,4,5,6,7]
list1[3] = 100
list1

[1, 2, 3, 100, 5, 6, 7]

In [ ]:
string1 = 'Python'
string1[3]

'h'

In [ ]:
string1 = 'Python'
string1[3] = 'R'
string1

TypeError: 'str' object does not support item assignment

#### Delete items from a list

1. remove
2. pop
3. clear
4. del

#### 1. remove(item)

It removes first occurance of the element

In [ ]:
list1 = ['Mumbai', 'Pune', 'Chennai', 'Hydrabad', 'Ahemdabad', 'Benglore']
list1.remove('Pune')
list1

['Mumbai', 'Chennai', 'Hydrabad', 'Ahemdabad', 'Benglore']

In [ ]:
list1 = ['Mumbai', 'Pune', 'Chennai', 'Hydrabad', 'Ahemdabad', 'Benglore', 'Pune', 'Pune']
list1.remove('Pune')
list1

['Mumbai', 'Chennai', 'Hydrabad', 'Ahemdabad', 'Benglore', 'Pune', 'Pune']

In [ ]:
l1 = [1,2,'5',3,4,5,5]
l1.remove(5)
l1

[1, 2, '5', 3, 4, 5]

In [ ]:
l1 = [1,2,'5',3,4,5,5]
l1.remove('5')
l1

[1, 2, 3, 4, 5, 5]

In [ ]:
list1 = ['Mumbai', 'Pune', 'Chennai', 'Hydrabad', 'Ahemdabad', 'Benglore']
print(len(list1))
list1.remove('Ahemdabad')
print(len(list1))

6
5

In [ ]:
l1 = [2,3,4]
l2 = l1.copy()      #shallow copy
print(l1)
print(l2)
l2.append(100)
print(l1)
print(l2)

[2, 3, 4]
[2, 3, 4]
[2, 3, 4]
[2, 3, 4, 100]

#### 2. pop()

It removes by default last item from the list or given item index(int)

In [ ]:
list1 = ['Mumbai', 'Pune', 'Chennai', 'Hydrabad', 'Ahemdabad', 'Benglore']
list1.pop()
list1

['Mumbai', 'Pune', 'Chennai', 'Hydrabad', 'Ahemdabad']

In [ ]:
list1 = ['Mumbai', 'Pune', 'Chennai', 'Hydrabad', 'Ahemdabad', 'Benglore']
list1.pop(3)
list1

['Mumbai', 'Pune', 'Chennai', 'Ahemdabad', 'Benglore']

In [ ]:
list1 = ['Mumbai', 'Pune', 'Chennai', 'Hydrabad', 'Ahemdabad', 'Benglore']
list1.pop('Hydrabad')
list1

TypeError: 'str' object cannot be interpreted as an integer

#### 3. clear()

In [ ]:
list1 = ['Mumbai', 'Pune', 'Chennai', 'Hydrabad', 'Ahemdabad', 'Benglore']
list1.clear()
print(list1, type(list1))

[] <class 'list'>

#### 4. del

In [ ]:
list1 = ['Mumbai', 'Pune', 'Chennai', 'Hydrabad', 'Ahemdabad', 'Benglore']
del list1

In [ ]:
list1

NameError: name 'list1' is not defined

In [ ]:
list1 = ['Mumbai', 'Pune', 'Chennai', 'Hydrabad', 'Ahemdabad', 'Benglore']
del list1[2]
list1

['Mumbai', 'Pune', 'Hydrabad', 'Ahemdabad', 'Benglore']

In [ ]:
list1 = ['Mumbai', 'Pune', 'Chennai', 'Hydrabad', 'Ahemdabad', 'Benglore']
del list1[4]
list1

['Mumbai', 'Pune', 'Chennai', 'Hydrabad', 'Benglore']

#### insert()

In [ ]:
insert(index, value)

In [ ]:
city_names = ['Mumbai', 'Pune', 'Chennai', 'Hydrabad', 'Ahemdabad', 'Benglore']
city_names.append('Nashik')
city_names

['Mumbai', 'Pune', 'Chennai', 'Hydrabad', 'Ahemdabad', 'Benglore', 'Nashik']

In [ ]:
city_names = ['Mumbai', 'Pune', 'Chennai', 'Hydrabad', 'Ahemdabad', 'Benglore']
city_names.insert(2,'Nashik')
print(city_names)

['Mumbai', 'Pune', 'Nashik', 'Chennai', 'Hydrabad', 'Ahemdabad', 'Benglore']

In [ ]:
city_names = ['Mumbai', 'Pune', 'Chennai', 'Hydrabad', 'Ahemdabad', 'Benglore']
city_names.insert(5,'Nashik')
print(city_names)

['Mumbai', 'Pune', 'Chennai', 'Hydrabad', 'Ahemdabad', 'Nashik', 'Benglore']

In [ ]:
l1 = [1,2,3,4,5,6,7]
l1.insert(3, 'Python')
l1

[1, 2, 3, 'Python', 4, 5, 6, 7]

In [ ]:
l1 = [1,2,3,4,5,6,7]
l1.insert('Python')
l1

TypeError: insert expected 2 arguments, got 1

In [ ]:
l1 = [1,2,3,4,5,6,7]
l1.insert(3,['Python', 'data', 'Science'])
l1

[1, 2, 3, ['Python', 'data', 'Science'], 4, 5, 6, 7]

#### sort list

list.sort(reverse = True/False)

In [ ]:
#Ascending order
city_names = ['Mumbai', 'Pune', 'Chennai', 'Hydrabad', 'Ahemdabad', 'Benglore']
city_names.sort()
print(city_names)

['Ahemdabad', 'Benglore', 'Chennai', 'Hydrabad', 'Mumbai', 'Pune']

In [ ]:
#Ascending order
list1 = [7,3,4,59,0,9,2,3,4,65]
list1.sort()
print(list1)

[0, 2, 3, 3, 4, 4, 7, 9, 59, 65]

In [ ]:
#Ascending order
list1 = [7,3,4,59,0,9,2,3,4,65]
list2 = [1,3,4,5,6]
list1.sort(list2)
print(list1)

TypeError: sort() takes no positional arguments

In [ ]:
#Descending order
city_names = ['Mumbai', 'Pune', 'Chennai', 'Hydrabad', 'Ahemdabad', 'Benglore']
city_names.sort(reverse=True)
print(city_names)

['Pune', 'Mumbai', 'Hydrabad', 'Chennai', 'Benglore', 'Ahemdabad']

In [ ]:
#Descending order
list1 = [7,3,4,59,0,9,2,3,4,65]
list1.sort(reverse=True)
print(list1)

[65, 59, 9, 7, 4, 4, 3, 3, 2, 0]

#### sorted(list_name)

In [ ]:
city_names = ['Mumbai', 'Pune', 'Chennai', 'Hydrabad', 'Ahemdabad', 'Benglore']
print(city_names)
city_names.sort(reverse=False)
print(city_names)

['Mumbai', 'Pune', 'Chennai', 'Hydrabad', 'Ahemdabad', 'Benglore']
['Ahemdabad', 'Benglore', 'Chennai', 'Hydrabad', 'Mumbai', 'Pune']

In [ ]:
# Ascending order

city_names = ['Mumbai', 'Pune', 'Chennai', 'Hydrabad', 'Ahemdabad', 'Benglore']
print(city_names)
updated_list = sorted(city_names)
print(updated_list)

['Mumbai', 'Pune', 'Chennai', 'Hydrabad', 'Ahemdabad', 'Benglore']
['Ahemdabad', 'Benglore', 'Chennai', 'Hydrabad', 'Mumbai', 'Pune']

In [ ]:
# Descending order

city_names = ['Mumbai', 'Pune', 'Chennai', 'Hydrabad', 'Ahemdabad', 'Benglore']
print(city_names)
updated_list = sorted(city_names, reverse=True)
print(updated_list)

['Mumbai', 'Pune', 'Chennai', 'Hydrabad', 'Ahemdabad', 'Benglore']
['Pune', 'Mumbai', 'Hydrabad', 'Chennai', 'Benglore', 'Ahemdabad']

In [ ]:
#Ascending order
list1 = [7,3,4,59,0,9,2,3,4,65]
list2 = sorted(list1)
print(list2)

[0, 2, 3, 3, 4, 4, 7, 9, 59, 65]

In [ ]:
#Descending order
list1 = [7,3,4,59,0,9,2,3,4,65]
list2 = sorted(list1, reverse=True)
print(list2)

[65, 59, 9, 7, 4, 4, 3, 3, 2, 0]

#### index()

In [ ]:
city_names = ['Mumbai', 'Pune', 'Chennai', 'Hydrabad', 'Ahemdabad', 'Benglore']
city_names.index('Pune')

1

In [ ]:
city_names = ['Mumbai', 'Pune', 'Chennai', 'Hydrabad', 'Ahemdabad', 'Benglore']
city_names.index('Ahemdabad')

4

In [ ]:
city_names = ['Mumbai', 'Pune', 'Chennai', 'Hydrabad', 'Ahemdabad', 'Benglore']
city_names.index('Nashik')

ValueError: 'Nashik' is not in list

In [ ]:
city_names = ['Mumbai', 'Pune', 'Chennai', 'Hydrabad', 'Ahemdabad', 'Benglore']
if 'Mumbai' in city_names:
    index = city_names.index('Mumbai')
    print(index)

0

In [ ]:
city_names = ['Mumbai', 'Pune', 'Chennai', 'Hydrabad', 'Ahemdabad', 'Benglore']
city = 'Chennai'
if city in city_names:
    index = city_names.index(city)
    print(index)

2

In [ ]:
city_names = ['Mumbai', 'Pune', 'Chennai', 'Hydrabad', 'Ahemdabad', 'Benglore']
city = 'Chennai'
if city in city_names:
    index = city_names.index(city)
    print(index)

else:
    print(f"{city} is not presnt in city_names")

2

In [ ]:
city_names = ['Mumbai', 'Pune', 'Chennai', 'Hydrabad', 'Ahemdabad', 'Benglore']
city = 'Nashik'
if city in city_names:
    index = city_names.index(city)
    print(index)

else:
    print(f"{city} is not presnt in city_names")

Nashik is not presnt in city_names

In [ ]:
city_names = ['Mumbai', 'Pune', 'Chennai', 'Hydrabad', 'Ahemdabad', 'Benglore']
city = 'Hydrabad'
if city in city_names:
    index = city_names.index(city)
    print(f"{city} is present at index {index}")

else:
    print(f"{city} is not presnt in city_names")

Hydrabad is present at index 3

#### count()

In [ ]:
city_names = ['Mumbai', 'Pune', 'Chennai', 'Hydrabad', 'Ahemdabad', 'Benglore']
city_names.count('Pune')

1

In [ ]:
city_names = ['Mumbai', 'Pune', 'Pune', 'Hydrabad', 'Ahemdabad', 'Pune','Benglore']
city_names.count('Pune')

3

In [ ]:
string = 'Python Programming'
string.count('P')

2

#### List comprehension

updated_list = [expression for item in list if condition == True]

In [ ]:
l1 = [1,3,4,5,67,4]
list2 = []
for val in l1:
    list2.append(val)

print(l1)
print(list2)

[1, 3, 4, 5, 67, 4]
[1, 3, 4, 5, 67, 4]

In [ ]:
city_names = ['Mumbai', 'HydraBAD', 'Ahemdabad', 'PUNE','Benglore']
city_names_lower = []
for city in city_names:
    city_names_lower.append(city.lower())

city_names_lower

['mumbai', 'hydrabad', 'ahemdabad', 'pune', 'benglore']

In [ ]:
city_names1 = ['Mumbai', 'HydraBAD', 'Ahemdabad', 'PUNE','Benglore']
city_names_lower1 = [val.lower() for val in city_names1]
city_names_lower1

['mumbai', 'hydrabad', 'ahemdabad', 'pune', 'benglore']

In [ ]:
city_names1 = ['Mumbai', 'HydraBAD', 'Ahemdabad', 'PUNE','Benglore']
city_names_lower1 = [val.upper() for val in city_names1]
city_names_lower1

['MUMBAI', 'HYDRABAD', 'AHEMDABAD', 'PUNE', 'BENGLORE']

In [ ]:
city_names = ['Mumbai', 'Pune', 'Chennai', 'Hydrabad','abc' ,'Ahemdabad', 'Benglore']
city_names1 = []

for city in city_names:
    if len(city) > 5:   # True
        city_names1.append(city)

print(city_names1)

['Mumbai', 'Chennai', 'Hydrabad', 'Ahemdabad', 'Benglore']

In [ ]:
city_names = ['Mumbai', 'Pune', 'Chennai', 'Hydrabad','abc' ,'Ahemdabad', 'Benglore']
city_names1 = [city for city in city_names if len(city) > 5]
city_names1

['Mumbai', 'Chennai', 'Hydrabad', 'Ahemdabad', 'Benglore']

In [ ]:
num = [1,2,3,4,5,6]
squares = [i**2 for i in num]
squares

[1, 4, 9, 16, 25, 36]

In [ ]:
num = [1,2,3,4,5,6]
cubes = [i**3 for i in num]
cubes

[1, 8, 27, 64, 125, 216]

In [ ]:
squares = [i**2 for i in range(10, 16)]
squares

[100, 121, 144, 169, 196, 225]

#### List Functions

1. append()
2. extend()
3. remove()
4. pop()
5. clear()
6. del
7. insert()
8. sort()
9. sorted()
10. index()
11. count()
12. copy()