<a href="https://colab.research.google.com/github/Salbapoonam/Data-Science-Learning/blob/main/Day_05_String_Functions_poonam_salbande.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### String Functions

#### 1. Capitalize()

It capitalize the first character of the string

In [ ]:
s = 'data science'
print(s)
s.capitalize()

data science

'Data science'

In [ ]:
s = ' data science'
print(s)
s.capitalize()

 data science

' data science'

#### 2. upper()

It converts all characters to upper case

In [ ]:
s = 'data science'
print(s)
s.upper()

data science

'DATA SCIENCE'

In [ ]:
s = 'Machine LEARning123'
print(s)
s.upper()

Machine LEARning123

'MACHINE LEARNING123'

In [ ]:
s = 'csril3452a'
print('Data type of variable is :', type(s))
s.upper()

Data type of variable is : <class 'str'>

'CSRIL3452A'

In [ ]:
aadhar_name = 'Rohit Sharma'
pan_card_name = 'rohit sharma'
aadhar_name == pan_card_name

False

In [ ]:
aadhar_name = aadhar_name.upper()
pan_card_name = pan_card_name.upper()
aadhar_name == pan_card_name

True

In [ ]:
aadhar_name

'ROHIT SHARMA'

In [ ]:
pan_card_name

'ROHIT SHARMA'

In [ ]:
aadhar_name = 'Virat Kohli'
pan_card_name = 'Virat kohli'

if aadhar_name == pan_card_name:   # if block will execute if its True
    print("Both names are same")

else:
    print("Both names are different")

Both names are different

In [ ]:
aadhar_name = 'Virat Kohli'
pan_card_name = 'Virat kohli'

aadhar_name = aadhar_name.upper()
pan_card_name = pan_card_name.upper()

if aadhar_name == pan_card_name:   # if block will execute if its True
    print("Both names are same")

else:
    print("Both names are different")

Both names are same

#### 3. lower()

In [ ]:
s = 'Machine LEARning123'
print(s)
s.lower()

Machine LEARning123

'machine learning123'

In [ ]:
s = 'cSDFRl3452a'
print('Data type of variable is :', type(s))
s.lower()

Data type of variable is : <class 'str'>

'csdfrl3452a'

In [ ]:
aadhar_name = 'Virat Kohli'
pan_card_name = 'Virat kohli'

aadhar_name = aadhar_name.lower()
pan_card_name = pan_card_name.lower()

if aadhar_name == pan_card_name:   # if block will execute if its True
    print("Both names are same")

else:
    print("Both names are different")

Both names are same

In [ ]:
aadhar_name

'virat kohli'

In [ ]:
pan_card_name

'virat kohli'

#### 4. title()

Convert string in to title case
Capitalize first character of every word

In [ ]:
name = 'c a kolse'
name.title()

'C A Kolse'

In [ ]:
s = 'india'
print(s.title())

India

In [ ]:
string = 'we are learning python and data science'
print(string.title())

We Are Learning Python And Data Science

In [ ]:
s = 'india'
print(s.capitalize())

India

In [ ]:
s = 'india country'
print(s.capitalize())

India country

#### 5. lstrip()

It removes leading (left side)  whitespaces.

In [ ]:
s = "      python class"
print(s)
print(s.lstrip())

      python class
python class

In [ ]:
s = "      python class     "
print(s)
s.lstrip()

      python class

'python class     '

#### 6. rstrip()

It removes trailing (right side) whitespaces.

In [ ]:
s = "python class     "
print(s)
s.rstrip()

python class

'python class'

In [ ]:
s = "      python class     "
print(s)
s.rstrip()

      python class

'      python class'

#### 7. strip()

It removes leading and trailing whitespaces

In [ ]:
s = "      python class     "
print(s)
s.strip()

      python class

'python class'

In [ ]:
# Extracting details from any ID documents using OCR(Optical Character Recognition)
# Image to text
# pytesseract
# Google Vision
# AWS Textract

In [ ]:
aadhar_name = '   Virat Kohli'
pan_card_name = 'Virat kohli      '

aadhar_name = aadhar_name.lower()
pan_card_name = pan_card_name.lower()

if aadhar_name == pan_card_name:
    print("Both names are same")

else:
    print("Both names are different")

Both names are different

In [ ]:
aadhar_name = '   Virat Kohli'
pan_card_name = 'Virat kohli      '

print('Aadhar card name is : ', aadhar_name)
print('PAN card name is : ', pan_card_name)

aadhar_name = aadhar_name.lower()
pan_card_name = pan_card_name.lower()

print('\nUpdated names after converting to lower case')
print('Aadhar card name is : ', aadhar_name)
print('PAN card name is : ', pan_card_name)

aadhar_name = aadhar_name.strip()
pan_card_name = pan_card_name.strip()

print('\nUpdated names after removing white spaces')
print('Aadhar card name is :',aadhar_name)
print('PAN card name is :',pan_card_name)

if aadhar_name == pan_card_name:   # if block will execute if its True
    print("\nBoth names are same")

else:
    print("\nBoth names are different")

Aadhar card name is :     Virat Kohli
PAN card name is :  Virat kohli

Updated names after converting to lower case
Aadhar card name is :     virat kohli
PAN card name is :  virat kohli

Updated names after removing white spaces
Aadhar card name is : virat kohli
PAN card name is : virat kohli

Both names are same

#### Remove all vowels from string

In [ ]:
#vowels = a,e,i,o,u

In [ ]:
s = 'We are learning data science ad DataLearnm'
s.replace('a', '***')

'We ***re le***rning d***t*** science ***d D***t***Le***rnm'

In [ ]:
s = 'We are learning data science ad DataLearnm'
s.replace('e', '')

'W ar larning data scinc ad DataLarnm'

#### 8. swapcase()

In [ ]:
# It converts case of all characters
# lower >>> upper
# upper >> lower

In [ ]:
s = 'data SCIence'
s.swapcase()

'DATA sciENCE'

In [ ]:
s = 'data science123'
s.swapcase()

'DATA SCIENCE123'

In [ ]:
s = 'DATA SCIENCE123    '
s.swapcase()

'data science123    '

In [ ]:
s = 'DATA SCIENCE123    '
s.swapcase().strip()

'data science123'

In [ ]:
s = 'DATA SCIENCE123    '
print(s.swapcase())
print(s.strip())

data science123
DATA SCIENCE123

In [ ]:
s = 'DATA SCIENCE123    '
s.swapcase()
s.strip()

'DATA SCIENCE123'

#### 9 replace()

string(old_str, new_str, count)

In [ ]:
s = 'We are learning data science at DataLearnm'
s.replace('a', '***', 2)

'We ***re le***rning data science at DataLearnm'

In [ ]:
s = 'We are learning data science at DataLearnm'
s.replace('a', '').replace('e', '').replace('i', '').replace('o', '').replace('u', '')

'W r lrnng dt scnc t DtLrnm'

In [ ]:
s = 'We are learning data science at DataLearnm'
s.replace('a', 'A', 4)

'We Are leArning dAtA science at DataLearnm'

In [ ]:
s = 'We are             learning data           science at      DataLearnm'
s.replace('  ', '')

'We are learning data science atDataLearnm'

In [ ]:
s = 'We are             learning data           science at      DataLearnm'
s.replace('  ', '$')

'We are$$$$$$ learning data$$$$$ science at$$$DataLearnm'

#### 10 count

In [ ]:
s = 'python class'
s.count('p')

1

In [ ]:
s = 'python class'
s.count('s')

2

In [ ]:
s = 'We are learning data science at DataLearnm'
s.count('a')

8

In [ ]:
s = 'We are learning data science at DataLearnm'
s.count('a',0,10)

2

In [ ]:
s = 'We are learning data science at DataLearnm data'
s.count('data')

2

In [ ]:
string

'we are learning python and data science'

#### 11. index()

Index of character or word

In [ ]:
s = 'We are learning data science at DataLearnm data'
s.index('l')

7

In [ ]:
s.index('a')

3

In [ ]:
s.index('data')

16

In [ ]:
len(s)

47

In [ ]:
s.index('data', 17, 47)

43

In [ ]:
s[10:34]

'rning data science at Da'

In [ ]:
s = 'We are learning data science at DataLearnm data'
a = s.index('l')
print(a, type(a))

7 <class 'int'>

In [ ]:
s = 'python class'
s.index(x)

NameError: name 'x' is not defined

#### 12. find()

find(substring, [start_index], [end_index])
return -1 if substring not found

In [ ]:
s = 'We are learning data science at DataLearnm data'
s.find('data')

16

In [ ]:
s = 'We are learning data science at DataLearnm data'
s.find('data', 17,47)

43

In [ ]:
s = 'We are learning data science at DataLearnm data'
s.find('daTa')

-1

In [ ]:
s = "python class"
index = s.index('p')
print('Index of char is:', index)

Index of char is: 0

In [ ]:
s = "python class"
index = s.index('c')
print('Index of char is:', index)

Index of char is: 7

In [ ]:
s = "python class"
index = s.find('x')
print('Index of char is:', index)

if index == -1:
    print('Char not found in string')

Index of char is: -1
Char not found in string

#### To check substring in a string

In [ ]:
s = 'python class'
'p' in s

True

In [ ]:
s = 'python class'
'x' in s

False

In [ ]:
s = 'python class'
'class' in s

True

In [ ]:
string = 'We are learning data science at DataLearnm data'
substring = 'data'

if substring in string:
    print(f'{substring} in present in given string')

    index = string.index(substring)

    print(f'Index of {substring} in given string is {index}')

else:
    print(f'{substring} in not present in given string')

data in present in given string
Index of data in given string is 16

In [ ]:
string = 'We are learning data science at DataLearnm data'
substring = 'datascience'

if substring in string:
    print(f'{substring} in present in given string')

    index = string.index(substring)

    print(f'Index of {substring} in given string is {index}')

else:
    print(f'{substring} in not present in given string')

datascience in not present in given string

#### 13. length()

In [ ]:
s1 ='python'
len(s1)

6

In [ ]:
s1 =' python'
len(s1)

7

In [ ]:
string = 'We are learning data science at DataLearnm'
len(string)

42

#### 14 split()

In [ ]:
# It returns list of words separated by white spaces
# string to list

In [ ]:
s1 ='python class'
s1.split()

['python', 'class']

In [ ]:
s1 ='python class data'
s1.split()

['python', 'class', 'data']

In [ ]:
s1 ='python class.data'
s1.split('.')

['python class', 'data']

In [ ]:
string = 'We are learning data science at DataLearnm'
list1 = string.split()
print(list1, len(list1))

['We', 'are', 'learning', 'data', 'science', 'at', 'DataLearnm'] 7

In [ ]:
string = 'We are learning. data science. at DataLearnm'
list1 = string.split('.')
print(list1, len(list1))

['We are learning', ' data science', ' at DataLearnm'] 3

In [ ]:
string = 'We are* learning. data* science. at Data*Learnm'
list1 = string.split('*')
print(list1, len(list1))

['We are', ' learning. data', ' science. at Data', 'Learnm'] 4

In [ ]:
string = 'We are* learning. data* science. at Data*Learnm'
string.lower().split()

['we', 'are*', 'learning.', 'data*', 'science.', 'at', 'data*learnm']