<a href="https://colab.research.google.com/github/Salbapoonam/Data-Science-Learning/blob/main/Day_13_For_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Loops in Python

1. for
2. while

Same functionality but different syntax and condition
checking it executes set of statements

### for loop

It works like an iterator
Sequence >>> str, list, tuple, set, dict, range

for var_name in sequence:
    print(var_name)

In [ ]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

### 1. for loop using string

In [ ]:
string = 'Python programming language'
print(string)
print(string)
print(string)
print(string)
print(string)
print(string)
len(string)

Python programming language
Python programming language
Python programming language
Python programming language
Python programming language
Python programming language

27

In [ ]:
l= len(string)
for i in range(l):
    print(string)

Python programming language
Python programming language
Python programming language
Python programming language
Python programming language
Python programming language
Python programming language
Python programming language
Python programming language
Python programming language
Python programming language
Python programming language
Python programming language
Python programming language
Python programming language
Python programming language
Python programming language
Python programming language
Python programming language
Python programming language
Python programming language
Python programming language
Python programming language
Python programming language
Python programming language
Python programming language
Python programming language

In [ ]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(10,16):
    print(i, string)

10 Python programming language
11 Python programming language
12 Python programming language
13 Python programming language
14 Python programming language
15 Python programming language

In [ ]:
string = 'Python'  #6
for i in string:     # 6 iterations
    print(i)
    print('Data Science')
print('Machine Learning')

P
Data Science
y
Data Science
t
Data Science
h
Data Science
o
Data Science
n
Data Science
Machine Learning

In [ ]:
str1 = 'Python data Science'
for i in str1.split():    # 3 iterations
    print(i)
    print('DataLearnm')

Python
DataLearnm
data
DataLearnm
Science
DataLearnm

### 2. for loop using list

In [ ]:
list1 = [1,2,3,'data',5,6,7,'Python']
for i in  list1:
    print(i)

1
2
3
data
5
6
7
Python

In [ ]:
list1 = [1,2,3,'data',5,6,7,'Python',4.5,7,8.5]
for i in  list1:
    if type(i)==str:
        print(i)

data
Python

In [ ]:
list1 = [1,2,3,'data',5,6,7,'Python']
for i in  range(len(list1)):
    print("We are learning for loop")

We are learning for loop
We are learning for loop
We are learning for loop
We are learning for loop
We are learning for loop
We are learning for loop
We are learning for loop
We are learning for loop

In [ ]:
for i in  range(3):
    print(i,"We are learning for loop")

0 We are learning for loop
1 We are learning for loop
2 We are learning for loop

In [ ]:
for i in  range(1,3):
    print(i,"We are learning for loop")

1 We are learning for loop
2 We are learning for loop

### 3. for loop using tuple

In [ ]:
tuple1 = (1,2,3,'data',5,6,7,'Python')
for i in tuple1:
    print(i)

1
2
3
data
5
6
7
Python

In [ ]:
tuple1 = (1,2,3,'data',5,6,7,'Python')
count = 0
for char in tuple1:
    print(count, char)
    count=count+1

0 1
1 2
2 3
3 data
4 5
5 6
6 7
7 Python

#### enumerate function

for index, value in enumerate(sequence):
    print(index, value)
    print("We are learning enumerate function")

In [ ]:
seq = 'python'
for index, val in enumerate(seq):
    print(index, val)

0 p
1 y
2 t
3 h
4 o
5 n

In [ ]:
seq = 'python'
for index, val in enumerate(seq):
    print(f"index[{index}] == {val}")

index[0] == p
index[1] == y
index[2] == t
index[3] == h
index[4] == o
index[5] == n

In [ ]:
seq = ['a','e', 'i', 'o', 'u']
for index, val in enumerate(seq):
    print(f"Value at index[{index}] is {val}")

Value at index[0] is a
Value at index[1] is e
Value at index[2] is i
Value at index[3] is o
Value at index[4] is u

In [ ]:
seq = (1,3,4,5,6)
for index, num in enumerate(seq):
    print(f"Number at index[{index}] is {num}")

Number at index[0] is 1
Number at index[1] is 3
Number at index[2] is 4
Number at index[3] is 5
Number at index[4] is 6

In [ ]:
seq = (1,3,4,5,6)
for k, num in enumerate(seq):
    print(f"Number at index[{k}] is {num}")

Number at index[0] is 1
Number at index[1] is 3
Number at index[2] is 4
Number at index[3] is 5
Number at index[4] is 6

In [ ]:
list1 = [1,2,3,4,5,6]
sum(list1)

21

In [ ]:
list1 = [1,2,3,4,5,6]
total = 0
for i in list1:
    total = total+i
print("Sum of all numbers is:", total)

Sum of all numbers is: 21

In [ ]:
list1 = [10,20,30,40,50]
for i in list1:
    print(i)
    if i == 30:
        print('Value found')

10
20
30
Value found
40
50

#### 1. break

In [ ]:
list1 = [10,20,30,40,50]
for i in list1:
    print(i)
    if i == 30:
        print('Value found')
        break

10
20
30
Value found

In [ ]:
list1 = [2,3,4,5,6,12,3,45]
for index, value in enumerate(list1):
    print(index,value)
    if index == 4:
        break
print('Finished')

0 2
1 3
2 4
3 5
4 6
Finished

In [ ]:
tuple1 = (1,'',2,3,'data',5,6,7,'Python')
for val in tuple1:
    print(val)
    if type(val)==str:
        print("String data type found")

1

String data type found
2
3
data
String data type found
5
6
7
Python
String data type found

#### 2. continue

To stop current iteration and continue with next iteration

In [ ]:
for num in range(5,10):
    print(num)
    if num == 7:   #True
        print("Number found")
        continue

5
6
7
Number found
8
9

In [ ]:
for num in range(5,10):
    if num == 7:   #True
        print("Number found")
        continue

    print("Number is ",num)

Number is  5
Number is  6
Number found
Number is  8
Number is  9

Number found
Number is  19

In [ ]:
for num in range(5,12):
    x = 100
    print(x)
    pass

100
100
100
100
100
100
100

In [ ]:
list1 = [1,2,3,'data',5,6.5, 'Science',7.8,'Python', 4.5,7,8,9]
int_list = []
float_list = []
str_list = []

for i in list1:
    print("Item is : ", i)

    if type(i) == int:
        int_list.append(i)

    elif type(i) == float:
        float_list.append(i)

    else:
        str_list.append(i)

print('Integer list is : ', int_list)
print('Float list is : ', float_list)
print('String list is : ', str_list)

Item is :  1
Item is :  2
Item is :  3
Item is :  data
Item is :  5
Item is :  6.5
Item is :  Science
Item is :  7.8
Item is :  Python
Item is :  4.5
Item is :  7
Item is :  8
Item is :  9
Integer list is :  [1, 2, 3, 5, 7, 8, 9]
Float list is :  [6.5, 7.8, 4.5]
String list is :  ['data', 'Science', 'Python']

In [ ]:
list1 = [1,2,3,'data',5,6.5, 'Science',7.8,'Python', 4.5,7,8,9]
int_list = []
float_list = []
str_list = []

for i in list1:
    print("Item is : ", i)

    if type(i) == int:
        int_list.append(i)
        pass
    elif type(i) == float:
        float_list.append(i)
        continue
    else:
        str_list.append(i)

print('Integer list is : ', int_list)
print('Float list is : ', float_list)
print('String list is : ', str_list)

Item is :  1
Item is :  2
Item is :  3
Item is :  data
Item is :  5
Item is :  6.5
Item is :  Science
Item is :  7.8
Item is :  Python
Item is :  4.5
Item is :  7
Item is :  8
Item is :  9
Integer list is :  [1, 2, 3, 5, 7, 8, 9]
Float list is :  [6.5, 7.8, 4.5]
String list is :  ['data', 'Science', 'Python']

In [ ]:
list1 = [1,2,3,'data',5,6.5, 'Science',7.8,'Python', 4.5,7,8,9]
int_list = []
float_list = []
str_list = []

for i in list1:
    print("Item is : ", i)

    if type(i) == int:
        int_list.append(i)
        pass
    elif type(i) == float:
        float_list.append(i)
        break
    else:
        str_list.append(i)

print('Integer list is : ', int_list)
print('Float list is : ', float_list)
print('String list is : ', str_list)

Item is :  1
Item is :  2
Item is :  3
Item is :  data
Item is :  5
Item is :  6.5
Integer list is :  [1, 2, 3, 5]
Float list is :  [6.5]
String list is :  ['data']

#### for- else

It will execute only when loop is finished with all iterations
Else block will not execute if loop is stopped by break statement

In [ ]:
for i in range(5):
    print(i)

else:
    print('For loop completed for its all iterations')

0
1
2
3
4
For loop completed for its all iterations

In [ ]:
for i in range(5):
    print("Iteration", i)
    if i == 3:
        print('Hello')
        break


else:
    print('For loop completed for its all iterations')

Iteration 0
Iteration 1
Iteration 2
Iteration 3
Hello

In [ ]:
for i in range(5):
    print("Iteration", i)
    if i == 3:
        print('Hello')
        continue


else:
    print('For loop completed for its all iterations')

Iteration 0
Iteration 1
Iteration 2
Iteration 3
Hello
Iteration 4
For loop completed for its all iterations

In [ ]:
for i in range(5):
    print("Iteration", i)
    if i == 3:
        print('Hello')
        pass


else:
    print('For loop completed for its all iterations')

Iteration 0
Iteration 1
Iteration 2
Iteration 3
Hello
Iteration 4
For loop completed for its all iterations

In [ ]:
list(range(10,21))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
list(range(10,21,2))

[10, 12, 14, 16, 18, 20]

In [ ]:
for i in range(10,21,2):
    print(i)

10
12
14
16
18
20

In [ ]:
num_list = []
number = int(input("Enter number of elements in list"))
for i in range(1, number+1):
    value = int(input('Enter the value of element'))
    num_list.append(value)
num_list.sort()
print("List after sorting", num_list)

Enter number of elements in list5
Enter the value of element-1
Enter the value of element56
Enter the value of element-90
Enter the value of element45
Enter the value of element34
List after sorting [-90, -1, 34, 45, 56]

In [ ]:
num_list = []
number = int(input("Enter number of elements in list"))
for i in range(1, number+1):
    value = int(input('Enter the value of element'))
    num_list.append(value)
num_list.sort(reverse=True)
print("List after sorting", num_list)

Enter number of elements in list5
Enter the value of element34
Enter the value of element45
Enter the value of element-1
Enter the value of element56
Enter the value of element-90
List after sorting [56, 45, 34, -1, -90]