In [4]:
a=100
print(a,type(a))
a='Python'
print(a,type(a))
b=a
print(a)

100 <class 'int'>
Python <class 'str'>
Python

# Assing single value to multiple variables

In [7]:
x=100
y=100
z=100
print(f'x=={x},y=={y},z=={z}' )

x==100,y==100,z==100

In [9]:
x=y=z='Python'
print(f'x== {x},y== {y},z== {z}' )

x== Python,y== Python,z== Python

# Multiple values to multiple variables

In [10]:
x=100
y=200
z='class'
print(f'x=={x},y=={y},z=={z}' )

x==100,y==200,z==class

In [12]:
x=41.5; y='Data';z=[1,3,5,8,9]
print(f'x=={x},y=={y},z=={z}' )

x==41.5,y==Data,z==[1, 3, 5, 8, 9]

In [13]:
x,y,z = 10,20, 'Science'
print(f' x == {x}, y == {y}, z == {z}')

 x == 10, y == 20, z == Science

In [14]:
### Delete Variables

In [15]:
a = 10
b = 20
print(f' a == {a}, b == {b}')

del a    # Deleting a variable

print(a)

 a == 10, b == 20

NameError: name 'a' is not defined

# Data Type

Numerical   : int, float, complex

Text        : str
    
Sequence    : list, tuple, range
    
Mapping     : dict
    
set_types   : set, frozenset
    
Boolean types: True, False
    
Binary      : bytes, bytearray

Int Data Type

In [17]:
a=52
print(a,type(a))

52 <class 'int'>

Float Data Type

In [19]:
a=85.36
print(f' Value of a is {a} and Data Type of a is : {type(a)}' )

 Value of a is 85.36 and Data Type of a is : <class 'float'>

In [20]:
a=-52.52
print(f' Value of a is {a} and its data type: {type(a)}')

 Value of a is -52.52 and its data type: <class 'float'>

In [21]:
a=-78
print(f' Value of a is {a} and its data type: {type(a)}')

 Value of a is -78 and its data type: <class 'int'>

In [22]:
a=0
print(f' Value of a is {a} and its data type: {type(a)}')

 Value of a is 0 and its data type: <class 'int'>

In [23]:
a=0.00
print(f' Value of a is {a} and its data type: {type(a)}')

 Value of a is 0.0 and its data type: <class 'float'>

In [24]:
a='A'
print(f' Value of a is {a} and its data type: {type(a)}')

 Value of a is A and its data type: <class 'str'>

In [25]:
a = 12.3456765
round(a,2)

12.35

In [26]:
a = 12.3436765
round(a,2)

12.34

Complex Data Type

In [27]:
a=12.3+12j
print(f' Value of a is {a } and Data type of a is : {type(a)}' )

 Value of a is (12.3+12j) and Data type of a is : <class 'complex'>

In [28]:
b = 3 + 0j     # Real + imaginary
type(b)

complex

Python Casting

 int to float

In [30]:
a=25
print(f' Value of a is {a } and Data type of a is : {type(a)}' )

b=float(a)
print(f' Value of b is {b } and Data type of a is : {type(b)}' )

 Value of a is 25 and Data type of a is : <class 'int'>
 Value of b is 25.0 and Data type of a is : <class 'float'>

In [31]:
a = -225
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

a = float(a)
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

Value of a is -225 and Data Type of a is : <class 'int'>
Value of a is -225.0 and Data Type of a is : <class 'float'>

float to int

In [32]:
a = 25.63
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

a = int(a)
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

Value of a is 25.63 and Data Type of a is : <class 'float'>
Value of a is 25 and Data Type of a is : <class 'int'>

In [33]:
a = 12.99999999
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

a = int(a)
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

Value of a is 12.99999999 and Data Type of a is : <class 'float'>
Value of a is 12 and Data Type of a is : <class 'int'>

In [34]:
a = 25.63
round(a)

26

Int to  Complex

In [36]:
a = 15
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

a = complex(a)
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

Value of a is 15 and Data Type of a is : <class 'int'>
Value of a is (15+0j) and Data Type of a is : <class 'complex'>

In [37]:
a = -25
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

a = complex(a)
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

Value of a is -25 and Data Type of a is : <class 'int'>
Value of a is (-25+0j) and Data Type of a is : <class 'complex'>

In [38]:
a = -25+4j
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

a = complex(a)
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

Value of a is (-25+4j) and Data Type of a is : <class 'complex'>
Value of a is (-25+4j) and Data Type of a is : <class 'complex'>

float to complex

In [39]:
a = 25.63
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

a = complex(a)
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

Value of a is 25.63 and Data Type of a is : <class 'float'>
Value of a is (25.63+0j) and Data Type of a is : <class 'complex'>

In [40]:
a = -25.63
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

a = complex(a)
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

Value of a is -25.63 and Data Type of a is : <class 'float'>
Value of a is (-25.63+0j) and Data Type of a is : <class 'complex'>

 complex to int

In [41]:
a = 10 + 7j
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

a = int(a)
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

Value of a is (10+7j) and Data Type of a is : <class 'complex'>

TypeError: can't convert complex to int

4. string

In [42]:
a = 'Python class'
print(a)

Python class

In [43]:
a = """Python class"""
print(a)

Python class

In [44]:
a = '''Python 
class'''
print(a)

Python
class

In [45]:
a = """Python"s class"""
print(a)

Python"s class

In [46]:
a = 'Python Class'
b = "Python Class"
c = """Python Class"""

print(f'Value of a is {a} and its data type is {type(a)}')
print(f'Value of a is {b} and its data type is {type(b)}')
print(f'Value of a is {c} and its data type is {type(c)}')

Value of a is Python Class and its data type is <class 'str'>
Value of a is Python Class and its data type is <class 'str'>
Value of a is Python Class and its data type is <class 'str'>

In [47]:
a = 100
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

a = str(a)
print(f'Value of a is {a} and Data Type of a is : {type(a)}')
a

Value of a is 100 and Data Type of a is : <class 'int'>
Value of a is 100 and Data Type of a is : <class 'str'>

'100'

In [48]:
a = -150
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

a = str(a)
print(f'Value of a is {a} and Data Type of a is : {type(a)}')
a

Value of a is -150 and Data Type of a is : <class 'int'>
Value of a is -150 and Data Type of a is : <class 'str'>

'-150'

In [49]:
a = 10.34
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

a = str(a)
print(f'Value of a is {a} and Data Type of a is : {type(a)}')
a

Value of a is 10.34 and Data Type of a is : <class 'float'>
Value of a is 10.34 and Data Type of a is : <class 'str'>

'10.34'

In [50]:
a = -10.34234566
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

a = str(a)
print(f'Value of a is {a} and Data Type of a is : {type(a)}')
a

Value of a is -10.34234566 and Data Type of a is : <class 'float'>
Value of a is -10.34234566 and Data Type of a is : <class 'str'>

'-10.34234566'

String to int

In [51]:
a = '500'      # String contain only digits
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

a = int(a)
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

Value of a is 500 and Data Type of a is : <class 'str'>
Value of a is 500 and Data Type of a is : <class 'int'>

In [52]:
a = 'a'      # Not possible When String contain digits and alphabets
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

a = int(a)
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

Value of a is a and Data Type of a is : <class 'str'>

ValueError: invalid literal for int() with base 10: 'a'

In [53]:
a = '10.50'      # String contain only digits
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

a = float(a)
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

Value of a is 10.50 and Data Type of a is : <class 'str'>
Value of a is 10.5 and Data Type of a is : <class 'float'>

In [54]:
a = '10.50v'      # # Not possible When String contain digits and alphabets
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

a = float(a)
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

Value of a is 10.50v and Data Type of a is : <class 'str'>

ValueError: could not convert string to float: '10.50v'