<a href="https://colab.research.google.com/github/Salbapoonam/Data-Science-Learning/blob/main/Day_03_Variables_and_Data_Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 100
print(a)

a =200
print(a, type(a))
a=
a = 'python'
print(a, type(a))

b = a
print(b)

100
200 <class 'int'>
python <class 'str'>
python

### Assigning Single value to multiple varaibles

In [ ]:
x = 100
y = 100
z = 100
print(f' x == {x}, y == {y}, z == {z}')

 x == 100, y == 100, z == 100

In [ ]:
x = y = z = 500
print(f' x == {x}, y == {y}, z == {z}')

 x == 500, y == 500, z == 500

In [ ]:
x = y = z = 'python'
print(f' x == {x}, y == {y}, z == {z}')

 x == python, y == python, z == python

### Multiple values to multiple variables

In [ ]:
x = 100
y = 200
z = 'Class'
print(f' x == {x}, y == {y}, z == {z}')

 x == 100, y == 200, z == Class

In [ ]:
x = 12.34; y = 'Data'; z = [1,2,3,4,5]
print(f' x == {x}, y == {y}, z == {z}')

 x == 12.34, y == Data, z == [1, 2, 3, 4, 5]

In [ ]:
x,y,z = 10,20, 'Science'
print(f' x == {x}, y == {y}, z == {z}')

 x == 10, y == 20, z == Science

### Delete Variables

del keyword

In [ ]:
a = 10
b = 20
print(f' a == {a}, b == {b}')

del a    # Deleting a variable

print(a)

 a == 10, b == 20

NameError: name 'a' is not defined

### Data Types

Dynamically typed language >>> We don't need to define the type of variable

In [ ]:
Numerical   : int, float, complex

Text        : str

Sequence    : list, tuple, range

Mapping     : dict

set_types   : set, frozenset

Boolean types: True, False

Binary      : bytes, bytearray

### 1. int data Type

Whole numbers
positive and negative
Without decimal

In [ ]:
a = 20
print(type(a))

<class 'int'>

a = -20
print(type(a))

### 2. Float data Type

Positive and negative
With decimal point, 12.45, 4.5

In [ ]:
a = 23.45
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

Value of a is 23.45 and Data Type of a is : <class 'float'>

In [ ]:
a = -23.45
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

Value of a is -23.45 and Data Type of a is : <class 'float'>

In [ ]:
a = 23
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

Value of a is 23 and Data Type of a is : <class 'int'>

In [ ]:
a = 23.0
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

Value of a is 23.0 and Data Type of a is : <class 'float'>

In [ ]:
a = 34.56
print("Value of a is {} ands Data Type of a is : {}".format(a, type(a)))

Value of a is 34.56 ands Data Type of a is : <class 'float'>

In [ ]:
a = 12.3456765
round(a,2)

12.35

In [ ]:
a = 12.3436765
round(a,2)

12.34

### 3. Complex Data Type

It contains real number and imaginary part
a +- bi

In [ ]:
a = 23.2 + 12j
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

Value of a is (23.2+12j) and Data Type of a is : <class 'complex'>

In [ ]:
b = 3 + 0j     # Real + imaginary
type(b)

complex

### Python Casting

Specify variable type
Change data type of variable

int >> float
float >> int
int >> complex
float >> complex

# We can not convert complex number to int and float
complex >> int
complex >> float

#### 1. int to float

In [ ]:
a = 25
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

a = float(a)
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

Value of a is 25 and Data Type of a is : <class 'int'>
Value of a is 25.0 and Data Type of a is : <class 'float'>

In [ ]:
a = -225
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

a = float(a)
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

Value of a is -225 and Data Type of a is : <class 'int'>
Value of a is -225.0 and Data Type of a is : <class 'float'>

#### 2. float to int

In [ ]:
a = 25.63
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

a = int(a)
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

Value of a is 25.63 and Data Type of a is : <class 'float'>
Value of a is 25 and Data Type of a is : <class 'int'>

In [ ]:
a = 12.99999999
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

a = int(a)
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

Value of a is 12.99999999 and Data Type of a is : <class 'float'>
Value of a is 12 and Data Type of a is : <class 'int'>

In [ ]:
a = 25.63
round(a)

26

#### 3. int to complex

In [ ]:
a = 15
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

a = complex(a)
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

Value of a is 15 and Data Type of a is : <class 'int'>
Value of a is (15+0j) and Data Type of a is : <class 'complex'>

In [ ]:
a = -25
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

a = complex(a)
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

Value of a is -25 and Data Type of a is : <class 'int'>
Value of a is (-25+0j) and Data Type of a is : <class 'complex'>

In [ ]:
a = -25+4j
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

a = complex(a)
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

Value of a is (-25+4j) and Data Type of a is : <class 'complex'>
Value of a is (-25+4j) and Data Type of a is : <class 'complex'>

### 4. float to complex

In [ ]:
a = 25.63
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

a = complex(a)
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

Value of a is 25.63 and Data Type of a is : <class 'float'>
Value of a is (25.63+0j) and Data Type of a is : <class 'complex'>

In [ ]:
a = -25.63
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

a = complex(a)
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

Value of a is -25.63 and Data Type of a is : <class 'float'>
Value of a is (-25.63+0j) and Data Type of a is : <class 'complex'>

#### 5. complex to int

In [ ]:
a = 10 + 7j
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

a = int(a)
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

Value of a is (10+7j) and Data Type of a is : <class 'complex'>

TypeError: can't convert complex to int

In [ ]:
a = 10 + 0j
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

a = int(a)
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

Value of a is (10+0j) and Data Type of a is : <class 'complex'>

TypeError: can't convert complex to int

#### 6. complex to float

In [ ]:
a = 10 + 7j
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

a = float(a)
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

Value of a is (10+7j) and Data Type of a is : <class 'complex'>

TypeError: can't convert complex to float

### 4. string

Collection of characters surrounded by single, double, and triple quotes
We can not use single quote inside single quote
We can not use double quote inside double quote

In [ ]:
a = 'Python class'
print(a)

Python class

In [ ]:
a = "Python class"
print(a)

Python class

In [ ]:
a = """Python class"""
print(a)

Python class

In [ ]:
a = '''Python
class'''
print(a)

Python
class

In [ ]:
a = "Python's class"
print(a)

Python's class

In [ ]:
a = """Python's class"""
print(a)

Python's class

In [ ]:
a = "Python"s class"
print(a)

SyntaxError: invalid syntax (5932376.py, line 1)

In [ ]:
a = """Python"s class"""
print(a)

Python"s class

In [ ]:
a = 'Python Class'
b = "Python Class"
c = """Python Class"""

print(f'Value of a is {a} and its data type is {type(a)}')
print(f'Value of a is {b} and its data type is {type(b)}')
print(f'Value of a is {c} and its data type is {type(c)}')

Value of a is Python Class and its data type is <class 'str'>
Value of a is Python Class and its data type is <class 'str'>
Value of a is Python Class and its data type is <class 'str'>

#### Convert int to string

In [ ]:
a = 100
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

a = str(a)
print(f'Value of a is {a} and Data Type of a is : {type(a)}')
a

Value of a is 100 and Data Type of a is : <class 'int'>
Value of a is 100 and Data Type of a is : <class 'str'>

'100'

In [ ]:
a = -150
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

a = str(a)
print(f'Value of a is {a} and Data Type of a is : {type(a)}')
a

Value of a is -150 and Data Type of a is : <class 'int'>
Value of a is -150 and Data Type of a is : <class 'str'>

'-150'

#### Convert float to string

In [ ]:
a = 10.34
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

a = str(a)
print(f'Value of a is {a} and Data Type of a is : {type(a)}')
a

Value of a is 10.34 and Data Type of a is : <class 'float'>
Value of a is 10.34 and Data Type of a is : <class 'str'>

'10.34'

In [ ]:
a = -10.34234566
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

a = str(a)
print(f'Value of a is {a} and Data Type of a is : {type(a)}')
a

Value of a is -10.34234566 and Data Type of a is : <class 'float'>
Value of a is -10.34234566 and Data Type of a is : <class 'str'>

'-10.34234566'

### String to int

In [ ]:
a = '500'      # String contain only digits
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

a = int(a)
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

Value of a is 500 and Data Type of a is : <class 'str'>
Value of a is 500 and Data Type of a is : <class 'int'>

In [ ]:
a = '500a'      # Not possible When String contain digits and alphabets
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

a = int(a)
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

Value of a is 500a and Data Type of a is : <class 'str'>

ValueError: invalid literal for int() with base 10: '500a'

In [ ]:
a = ' 500 '      # String contain only digits
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

a = int(a)
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

Value of a is  500  and Data Type of a is : <class 'str'>
Value of a is 500 and Data Type of a is : <class 'int'>

#### string to float

In [ ]:
a = '10.50'      # String contain only digits
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

a = float(a)
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

Value of a is 10.50 and Data Type of a is : <class 'str'>
Value of a is 10.5 and Data Type of a is : <class 'float'>

In [ ]:
a = '10.50v'      # # Not possible When String contain digits and alphabets
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

a = float(a)
print(f'Value of a is {a} and Data Type of a is : {type(a)}')

Value of a is 10.50v and Data Type of a is : <class 'str'>

ValueError: could not convert string to float: '10.50v'