In [1]:
print("Welcome to the learn DataLearnm Data Science Course")

Welcome to the learn DataLearnm Data Science Course

Key Features Of python

In [2]:
a=1
type(a)

int

In [3]:
a='1'
type(a)

str

Print Function

In [4]:
x='Python Class'
y="python class"
print(x)
print(y)

Python Class
python class

In [5]:
a=100
print('The value of a is :',a)

The value of a is : 100

In [6]:
a=100
b=344
c=a+b
print(" The Addition of a and b is :",c)

 The Addition of a and b is : 444

Format String

In [7]:
a=100
b=344
c=a+b
print('Addition of{} and {} :{}'.format(b,a,c))

Addition of344 and 100 :444

f string

In [8]:
a = 250
b = 100
c = a+b
# print(f'Addition of {a} and {b} is : {c}')
print(f'Addition of {a} and {b} is : {c}')

Addition of 250 and 100 is : 350

In [9]:
a = 250
b = 100
c = a*b
print(f'Multiplication of {a} and {b} is : {c}')

Multiplication of 250 and 100 is : 25000

In [10]:
a = 25
b = 10
print(f'Multiplication of {a} and {b} is : {a*b}')

Multiplication of 25 and 10 is : 250

In [11]:
a = 'DataLearnm'  #Single quote
b = "Python Class"  # Double quote
c = """Python and Data Science"""  # Multiline string

print(a)
print(b)
print(c)

DataLearnm
Python Class
Python and Data Science

In [12]:
c = """Python and 
     Data Science"""
print(c)

Python and
     Data Science

In [13]:
c = """Python and 
     Data Science"""
print(c)

Python and
     Data Science

# Comments in Python

In [14]:
a = """print(f'Multiplication of {a} and {b} is : {a*b}')"""
print(a)

print(f'Multiplication of {a} and {b} is : {a*b}')

In [15]:
print('Data Science')
# print("Machine learning")
print('SQL')

Data Science
SQL

# Indentation

In [16]:
a = 100
if a > 50:
    print('a is grater than 50')

a is grater than 50

In [17]:
a = 35
if a > 50:
    print("a is greater than 50")
    
else:
    print("a is less than 50")

a is less than 50

In [18]:
a = 35
if a > 50:
    print("a is greater than 50")
    
else:
    print("a is less than 50")

a is less than 50

In [19]:
a

35

In [20]:
b

'Python Class'

a = 100
a = 10.5
a = 10 + 5j
a = 'python'
a = [1,2,3,4]
a = (1,2,3,4,5)

In [21]:
type(a)

int

1. Variable name must start with alphabet or underscore
2. Case sensitive (name, Name, NAME all are different)
3. All characters should be alphanumeric (a-z, A-Z, 0-9) or underscore
4. Must not contain any special characters(@, #, $, %, &) except _
5. Do not use reserved words (any, import, and, or, if, else)
6. Do not use dot(.) to declare variable

# Variables

In [22]:

#@abc = 100    # special character
_abc = 100
ab123 = 100

print("The value of variavble is", _abc)

The value of variavble is 100

In [23]:
name = 'python'
Name = "Data Science"
print('Name : ', name)
print('Name : ', Name)

Name :  python
Name :  Data Science

and, in, if, elif, else

In [ ]:
help()
keywords

Welcome to Python 3.9's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the Internet at https://docs.python.org/3.9/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

In [ ]:
myvar = 'M S Dhoni'   # valid
my@var     # invalid
my_var12
my&34   # Invalid