# String Functions

 Capitalize()

The capitalize() function in Python is a string method that returns a copy of the original string with the first character capitalized (converted to uppercase), and the rest of the characters in lowercase.

In [2]:
s="hello, world!"
capitlized_s=s.capitalize()
print(capitlized_s)

Hello, world!

In [4]:
s='data science'
print(s)
s.capitalize()

data science

'Data science'

In [5]:
s=' data science'
print(s)
s.capitalize()

 data science

' data science'

upper()

The upper() function in Python is a string method that returns a copy of the original string with all the alphabetic characters converted to uppercase

In [6]:
s = "hello, world!"
uppercase_s = s.upper()
print(uppercase_s)

HELLO, WORLD!

In [7]:
s='data science'
print(s)
s.upper()

data science

'DATA SCIENCE'

In [8]:
s = 'Machine LEARning123'
print(s)
s.upper()

Machine LEARning123

'MACHINE LEARNING123'

In [9]:
s = 'csril3452a'
print('Data type of variable is :', type(s))
s.upper()

Data type of variable is : <class 'str'>

'CSRIL3452A'

In [10]:
aadhar_name = 'Rohit Sharma'
pan_card_name = 'rohit sharma'
aadhar_name == pan_card_name

False

In [11]:
aadhar_name = aadhar_name.upper()
pan_card_name = pan_card_name.upper()
aadhar_name == pan_card_name

True

In [12]:
aadhar_name

'ROHIT SHARMA'

In [13]:
pan_card_name

'ROHIT SHARMA'

In [14]:
aadhar_name = 'Virat Kohli'
pan_card_name = 'Virat kohli'

if aadhar_name == pan_card_name:   # if block will execute if its True
    print("Both names are same")
    
else:
    print("Both names are different")

Both names are different

In [15]:
aadhar_name = 'Virat Kohli'
pan_card_name = 'Virat kohli'

aadhar_name = aadhar_name.upper()
pan_card_name = pan_card_name.upper()

if aadhar_name == pan_card_name:   # if block will execute if its True
    print("Both names are same")
    
else:
    print("Both names are different")

Both names are same

3. lower()

The lower() function in Python is a string method that returns a copy of the original string with all the alphabetic characters converted to lowercase

In [17]:
s = "Hello, World!"
lowercase_s = s.lower()
print(lowercase_s)

hello, world!

In [18]:
s = "ThIs Is A MiXeD-cAsE StRiNg"
lowercase_s = s.lower()
print(lowercase_s)
# Output: "this is a mixed-case string"

this is a mixed-case string

In [19]:
# Lowercase a string with non-alphabetic characters:
s = "123ABC!@#$"
lowercase_s = s.lower()
print(lowercase_s)
# Output: "123abc!@#$" (non-alphabetic characters remain unchanged)

123abc!@#$

In [20]:
# Lowercase an empty string
s = ""
lowercase_s = s.lower()
print(lowercase_s)
# Output: "" (empty string remains empty)

In [21]:
s = 'Machine LEARning123'
print(s)
s.lower()

Machine LEARning123

'machine learning123'

In [22]:
s = 'cSDFRl3452a'
print('Data type of variable is :', type(s))
s.lower()

Data type of variable is : <class 'str'>

'csdfrl3452a'

In [23]:
aadhar_name = 'Virat Kohli'
pan_card_name = 'Virat kohli'

aadhar_name = aadhar_name.lower()
pan_card_name = pan_card_name.lower()

if aadhar_name == pan_card_name:   # if block will execute if its True
    print("Both names are same")
    
else:
    print("Both names are different")

Both names are same

In [24]:
aadhar_name

'virat kohli'

In [25]:
pan_card_name

'virat kohli'

### title()

As you can see, the title() function converts the first character of each word to uppercase ('h' becomes 'H' and 'w' becomes 'W') and the rest of the characters to lowercase ('ello,' becomes 'ello,' and 'orld!' becomes 'orld!').

The title() function in Python is a string method that returns a copy of the original string with the first character of each word converted to uppercase (title case), and the rest of the characters in each word converted to lowercase. Words are recognized as sequences of characters separated by whitespace.

In [27]:
s = "hello, world!"
title_case_s = s.title()
print(title_case_s)

Hello, World!

In [28]:
s = "this is a title case example"
title_case_s = s.title()
print(title_case_s)
# Output: "This Is A Title Case Example"

This Is A Title Case Example

In [29]:
s = "ThIs Is A MiXeD-cAsE StRiNg"
title_case_s = s.title()
print(title_case_s)
# Output: "This Is A Mixed-Case String"

This Is A Mixed-Case String

In [30]:
s = "123abc!@#$"
title_case_s = s.title()
print(title_case_s)
# Output: "123Abc!@#$" (non-alphabetic characters remain unchanged)

123Abc!@#$

In [31]:
name = 'p k salbande'
name.title()

'P K Salbande'

In [32]:
s = 'india'
print(s.title())

India

In [33]:
string = 'we are learning python and data science'
print(string.title())

We Are Learning Python And Data Science

In [34]:
s = 'india'
print(s.capitalize())

India

In [35]:
s = 'india country'
print(s.capitalize())

India country

In [36]:
s = 'india country'
print(s.title())

India Country

### lstrip()

The lstrip() function in Python is a string method that returns a copy of the original string with leading (leftmost) whitespace characters removed. "Whitespace characters" include spaces, tabs, and newline characters. It removes characters from the beginning (left side) of the string until it encounters a character that is not a whitespace character.

In [39]:
s = "   Hello, World!   "
stripped_s = s.lstrip()
print(stripped_s)
# As you can see, lstrip() removed the leading spaces
# on the left side of the string, leaving the rest of the 
# string intact.

Hello, World!

In [40]:
s = "   Leading spaces removed."
stripped_s = s.lstrip()
print(stripped_s)
# Output: "Leading spaces removed."

Leading spaces removed.

In [41]:
s = "\t\t\tTabs and spaces removed."
stripped_s = s.lstrip()
print(stripped_s)
# Output: "Tabs and spaces removed."

Tabs and spaces removed.

In [42]:
s = "\n\n\nNewlines removed."
stripped_s = s.lstrip()
print(stripped_s)
# Output: "Newlines removed."

Newlines removed.

In [43]:
s="     python class"
print(s)
print(s.lstrip())

     python class
python class

In [44]:
s="     python class           "
print(s)
print(s.lstrip())

     python class
python class

 ### rstrip()

he rstrip() function in Python is a string method that returns a copy of the original string with trailing (rightmost) whitespace characters removed. "Whitespace characters" include spaces, tabs, and newline characters. It removes characters from the end (right side) of the string until it encounters a character that is not a whitespace character.

In [45]:
s="Python String   "
print(s)
print(s.rstrip())

Python String
Python String

In [46]:
s = "      python class     "
print(s)
s.rstrip()

      python class

'      python class'

In [47]:
s = "   Hello, World!   "
stripped_s = s.rstrip()
print(stripped_s)

   Hello, World!

In [48]:
s = "Trailing spaces removed.   "
stripped_s = s.rstrip()
print(stripped_s)
# Output: "Trailing spaces removed."

Trailing spaces removed.

In [49]:
s = "Tabs and spaces removed.\t\t\t"
stripped_s = s.rstrip()
print(stripped_s)
# Output: "Tabs and spaces removed."

Tabs and spaces removed.

In [50]:
s = "Newlines removed.\n\n\n"
stripped_s = s.rstrip()
print(stripped_s)
# Output: "Newlines removed."

Newlines removed.

### . strip()

The strip() function in Python is a string method that returns a copy of the original string with both leading (leftmost) and trailing (rightmost) whitespace characters removed. "Whitespace characters" include spaces, tabs, and newline characters. It removes characters from both the beginning (left side) and the end (right side) of the string until it encounters characters that are not whitespace characters.

In [52]:
s = "   Hello, World!   "
stripped_s = s.strip()
print(stripped_s)

Hello, World!

In [53]:
s = "   Spaces removed from both sides.   "
stripped_s = s.strip()
print(stripped_s)
# Output: "Spaces removed from both sides."

Spaces removed from both sides.

In [54]:
s = "\t\tTabs and spaces removed.\t\t\t"
stripped_s = s.strip()
print(stripped_s)
# Output: "Tabs and spaces removed."

Tabs and spaces removed.

In [55]:
s = "\n\n\nNewlines removed from both sides.\n\n\n"
stripped_s = s.strip()
print(stripped_s)
# Output: "Newlines removed from both sides."

Newlines removed from both sides.

In [56]:
aadhar_name = '   Virat Kohli'
pan_card_name = 'Virat kohli      '

aadhar_name = aadhar_name.lower()
pan_card_name = pan_card_name.lower()

if aadhar_name == pan_card_name:   
    print("Both names are same")
    
else:
    print("Both names are different")

Both names are different

In [57]:
aadhar_name = '   Virat Kohli'
pan_card_name = 'Virat kohli      '

print('Aadhar card name is : ', aadhar_name)
print('PAN card name is : ', pan_card_name)

aadhar_name = aadhar_name.lower()
pan_card_name = pan_card_name.lower()

print('\nUpdated names after converting to lower case')
print('Aadhar card name is : ', aadhar_name)
print('PAN card name is : ', pan_card_name)

aadhar_name = aadhar_name.strip()
pan_card_name = pan_card_name.strip()

print('\nUpdated names after removing white spaces')
print('Aadhar card name is :',aadhar_name)
print('PAN card name is :',pan_card_name)

if aadhar_name == pan_card_name:   # if block will execute if its True
    print("\nBoth names are same")
    
else:
    print("\nBoth names are different")

Aadhar card name is :     Virat Kohli
PAN card name is :  Virat kohli

Updated names after converting to lower case
Aadhar card name is :     virat kohli
PAN card name is :  virat kohli

Updated names after removing white spaces
Aadhar card name is : virat kohli
PAN card name is : virat kohli

Both names are same

### Remove all vowels from string

#vowels = a,e,i,o,u

In [58]:
s='We are learning data science and DataLearn'
s.replace('a','*')

'We *re le*rning d*t* science *nd D*t*Le*rn'

In [59]:
s = "Hello, World!"

# Remove all vowels from the string
vowels = "AEIOUaeiou"  # Define a string containing all vowels
s_without_vowels = ''.join([char for char in s if char not in vowels])

print(s_without_vowels)

Hll, Wrld!

In [60]:
s = 'We are learning data science ad DataLearnm'
s.replace('e', '')

'W ar larning data scinc ad DataLarnm'

### The swapcase() function in Python is a string method that returns a copy of the original string with the case of each character swapped. In other words, it converts uppercase characters to lowercase and lowercase characters to uppercase, leaving non-alphabetical characters unchanged

In [61]:
s = "Hello, World!"
swapped_s = s.swapcase()
print(swapped_s)

hELLO, wORLD!

swapcase() converted uppercase characters to lowercase and lowercase characters to uppercase, resulting in a string with swapped cases.

In [62]:
s = "this is a lowercase string"
swapped_s = s.swapcase()
print(swapped_s)
# Output: "THIS IS A LOWERCASE STRING"

THIS IS A LOWERCASE STRING

In [63]:
s = "ThIs Is A MiXeD-cAsE StRiNg"
swapped_s = s.swapcase()
print(swapped_s)
# Output: "tHiS iS a mIxEd-CaSe sTrInG"

tHiS iS a mIxEd-CaSe sTrInG

In [64]:
s = "123ABC!@#$"
swapped_s = s.swapcase()
print(swapped_s)
# Output: "123abc!@#$" (non-alphabetic characters remain unchanged)

123abc!@#$

In [65]:
s = 'data SCIence'
s.swapcase()

'DATA sciENCE'

In [66]:
s = 'data science123'
s.swapcase()

'DATA SCIENCE123'

In [67]:
s = 'DATA SCIENCE123    '
s.swapcase()
s.strip()

'DATA SCIENCE123'

### replace()

In [68]:
s='We are learning data science at DataLearnm'
s.replace('a','***',2)

'We ***re le***rning data science at DataLearnm'

In [69]:
s='We are learning data science at DataLearnm'
# s.replace('a','***',2)
s.replace('a','').replace('e','').replace('i','').replace('o', '').replace('u', '')

'W r lrnng dt scnc t DtLrnm'

In [70]:
s = 'We are learning data science at DataLearnm'
s.replace('a', 'A', 4)

'We Are leArning dAtA science at DataLearnm'

In [71]:
s = 'We are             learning data           science at      DataLearnm'
s.replace('  ', '')

'We are learning data science atDataLearnm'

In [72]:
s = 'We are             learning data           science at      DataLearnm'
s.replace('  ', '$')

'We are$$$$$$ learning data$$$$$ science at$$$DataLearnm'

###  count

### The count() function in Python is a string method that allows you to count the number of non-overlapping occurrences of a substring within a given string. It returns an integer representing the count of occurrences

### count = original_string.count(substring, start, end)
original_string: The string in which you want to count occurrences.

substring: The substring you want to count within original_string.

start (optional): An optional parameter specifying the index at which to start searching for occurrences. 
The default is 0 (the beginning of the string).

end (optional): An optional parameter specifying the index at which to stop searching for occurrences. The search will end at end - 1. The default is the end of the string.

In [73]:
s = 'python class'
s.count('p')

1

In [74]:
s = 'python class'
s.count('s')

2

In [75]:
s = 'We are learning data science at DataLearnm'
s.count('a')

8

In [76]:
s = 'We are learning data science at DataLearnm'
s.count('a',0,10)

2

In [77]:
s.count('data')

1

In [78]:
string

'we are learning python and data science'

 ### index()

In [79]:
s = 'We are learning data science at DataLearnm data'
s.index('l')

7

In [80]:
len(s)

47

In [81]:
s.index('data', 17, 47)

43

In [82]:
s[10:34]

'rning data science at Da'

In [83]:
s = 'We are learning data science at DataLearnm data'
a = s.index('l')
print(a, type(a))

7 <class 'int'>

### find()

### he find() function in Python is a string method used to find the index (position) of the first occurrence of a substring within a given string. It returns an integer representing the index of the first occurrence of the substring, or -1 if the substring is not found in the string.

### index = original_string.find(substring, start, end)

original_string: The string in which you want to search for the substring.

substring: The substring you want to find within original_string.

start (optional): An optional parameter specifying the index at which to start searching for the substring. The default is 0 (the beginning of the string).

end (optional): An optional parameter specifying the index at which to stop searching for the substring. The search will end at end - 1. The default is the end of the string.

In [85]:
original_string = "Hello, World!"
index = original_string.find("World")
print(index)
# Output: 7

7

In [87]:
original_string = "aabbbbbbbbbbccccdddd"
index = original_string.find("b", 3, 9)
print(index)
# Output: 4

3

In [88]:
s = 'We are learning data science at DataLearnm data'
s.find('data')

16

In [89]:
s = 'We are learning data science at DataLearnm data'
s.find('daTa')

-1

In [90]:
s = "python class"
index = s.index('p')
print('Index of char is:', index)

Index of char is: 0

In [91]:
s = "python class"
index = s.find('x')
print('Index of char is:', index)

if index == -1:
    print('Char not found in string')

Index of char is: -1
Char not found in string

### To check substring in a string

### Using the in operator:
The in operator allows you to check if a substring is present in a string. It returns a Boolean value (True or False) indicating whether the substring exists in the string.

In [92]:
original_string = "Hello, World!"
substring = "World"

if substring in original_string:
    print("Substring found.")
else:
    print("Substring not found.")

Substring found.

In [93]:
s = 'python class'
'p' in s

True

In [94]:
s = 'python class'
'x' in s

False

In [95]:
string = 'We are learning data science at DataLearnm data'
substring = 'data'

if substring in string:
    print(f'{substring} in present in given string')
    
    index = string.index(substring)
    
    print(f'Index of {substring} in given string is {index}')
    
else:
    print(f'{substring} in not present in given string')

data in present in given string
Index of data in given string is 16

### Using the find() method:
As explained earlier, you can use the find() method to find the index of the first occurrence of a substring within a string. If the substring is not found, find() returns -1.

In [96]:
original_string = "Hello, World!"
substring = "Universe"

index = original_string.find(substring)
if index != -1:
    print("Substring found at index:", index)
else:
    print("Substring not found.")

Substring not found.

### Using the count() method:
You can also use the count() method to check if a substring exists in the string. If the count is greater than zero, it means the substring is present.

In [97]:
original_string = "Hello, World!"
substring = "World"

count = original_string.count(substring)
if count > 0:
    print("Substring found.")
else:
    print("Substring not found.")

Substring found.

In [98]:
s1 ='python'
len(s1)

6

### The split() function in Python is a string method used to split a string into a list of substrings based on a specified separator. It takes one argument, which is the separator you want to use to split the string. The result is a list of substrings obtained by splitting the original string wherever the separator appears.

### substring_list = original_string.split(separator, maxsplit)

In [100]:
original_string = "Hello, World!"
substring_list = original_string.split()
print(substring_list)
# Output: ['Hello,', 'World!']

['Hello,', 'World!']

In [101]:
original_string = "apple,banana,cherry"
substring_list = original_string.split(",")
print(substring_list)
# Output: ['apple', 'banana', 'cherry']

['apple', 'banana', 'cherry']

In [102]:
original_string = "one, two, three, four, five"
substring_list = original_string.split(", ", 2)
print(substring_list)
# Output: ['one', 'two', 'three, four, five']

['one', 'two', 'three, four, five']

In [ ]:
string = 'We are learning data science at DataLearnm'
list1 = string.split()
print(list1, len(list1))

In [103]:
string = 'We'
list1 = string.split()
print(list1, len(list1))

['We'] 1

In [104]:
string = 'We are* learning. data* science. at Data*Learnm'
list1 = string.split('*')
print(list1, len(list1))

['We are', ' learning. data', ' science. at Data', 'Learnm'] 4